---
################################################################################
# Playbook: Deploy ws-admin01 VM on Proxmox
# Purpose: Create VM from template using Proxmox API
################################################################################

- name: Deploy VM on Proxmox
  hosts: localhost
  gather_facts: no
  vars:
    proxmox_host: "{{ lookup('env', 'PROXMOX_HOST') | default('192.168.35.20', true) }}"
    proxmox_user: "{{ lookup('env', 'PROXMOX_USER') | default('root@pam', true) }}"
    proxmox_password: "{{ lookup('env', 'PROXMOX_PASSWORD') }}"
    proxmox_node: pve

  tasks:
    - name: Load host variables for ws-admin01
      include_vars:
        file: ../host_vars/ws-admin01.yml
        name: vm_config

    - name: Check if Proxmox credentials are set
      fail:
        msg: "PROXMOX_PASSWORD environment variable must be set"
      when: proxmox_password | length == 0

    - name: Clone VM from template
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_host }}"
        api_user: "{{ proxmox_user }}"
        api_password: "{{ proxmox_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_config.vmid }}"
        name: "{{ vm_config.hostname }}"
        clone: "{{ vm_config.template_id }}"
        storage: "{{ vm_config.proxmox.storage }}"
        timeout: 300
        state: present
      register: vm_clone

    - name: Configure VM resources
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_host }}"
        api_user: "{{ proxmox_user }}"
        api_password: "{{ proxmox_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_config.vmid }}"
        name: "{{ vm_config.hostname }}"
        cores: "{{ vm_config.resources.cores }}"
        memory: "{{ vm_config.resources.memory }}"
        update: yes
        state: present

    - name: Resize VM disk
      shell: |
        qm resize {{ vm_config.vmid }} scsi0 {{ vm_config.resources.disk_size }}
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"

    - name: Configure VM network
      shell: |
        qm set {{ vm_config.vmid }} \
          --net0 virtio,bridge=vmbr1,tag={{ vm_config.network.vlan }},firewall=0
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"

    - name: Configure cloud-init network settings
      shell: |
        qm set {{ vm_config.vmid }} \
          --ipconfig0 ip={{ vm_config.network.ip_address }}/{{ vm_config.network.netmask }},gw={{ vm_config.network.gateway }} \
          --nameserver {{ vm_config.network.dns_servers | join(',') }} \
          --searchdomain {{ vm_config.network.search_domain }}
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"

    - name: Set VM description
      shell: |
        qm set {{ vm_config.vmid }} --description "{{ vm_config.fqdn }}

        VM ID: {{ vm_config.vmid }}
        IP: {{ vm_config.network.ip_address }}/{{ vm_config.network.netmask }}
        Gateway: {{ vm_config.network.gateway }}
        VLAN: {{ vm_config.network.vlan }}
        OS: {{ vm_config.os_type | capitalize }} {{ vm_config.os_version }}

        Managed by Ansible"
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"

    - name: Apply Proxmox tags
      shell: |
        qm set {{ vm_config.vmid }} --tags "{{ vm_config.proxmox.tags | join(';') }}"
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"

    - name: Add VM to resource pool
      shell: |
        pvesh set /pools/{{ vm_config.proxmox.pool }} --vms {{ vm_config.vmid }}
      delegate_to: "{{ proxmox_host }}"
      vars:
        ansible_user: root
        ansible_ssh_pass: "{{ proxmox_password }}"
      register: pool_result
      failed_when:
        - pool_result.rc != 0
        - "'already exists' not in pool_result.stderr"

    - name: Start VM
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_host }}"
        api_user: "{{ proxmox_user }}"
        api_password: "{{ proxmox_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_config.vmid }}"
        state: started

    - name: Wait for VM to boot and get IP
      pause:
        seconds: 30
        prompt: "Waiting for VM to boot..."

    - name: Wait for SSH to become available
      wait_for:
        host: "{{ vm_config.network.ip_address }}"
        port: 22
        delay: 10
        timeout: 300
        state: started

    - name: Display VM information
      debug:
        msg:
          - "VM {{ vm_config.hostname }} deployed successfully!"
          - "VMID: {{ vm_config.vmid }}"
          - "IP Address: {{ vm_config.network.ip_address }}"
          - "FQDN: {{ vm_config.fqdn }}"
          - ""
          - "Next steps:"
          - "1. SSH to the VM: ssh {{ admin_user.username }}@{{ vm_config.network.ip_address }}"
          - "2. Run configuration: ansible-playbook playbooks/configure-ws-admin01-roles.yml"
