---
################################################################################
# Playbook: Deploy Domain Controllers
# Purpose: Deploy VMs and configure base networking for dc01 and dc02
################################################################################

- name: Deploy Domain Controller VMs on Proxmox
  hosts: pve
  gather_facts: no

  tasks:
    - name: Deploy dc01
      block:
        - name: Load host variables for dc01
          include_vars:
            file: ../host_vars/dc01.yml

        - name: Deploy dc01 VM
          include_role:
            name: proxmox_vm_deploy

    - name: Deploy dc02
      block:
        - name: Load host variables for dc02
          include_vars:
            file: ../host_vars/dc02.yml

        - name: Deploy dc02 VM
          include_role:
            name: proxmox_vm_deploy

- name: Configure Domain Controller Networking
  hosts: domain_controllers
  become: yes
  gather_facts: no
  serial: 1  # Configure one at a time

  pre_tasks:
    - name: Load host variables
      include_vars:
        file: ../host_vars/{{ inventory_hostname }}.yml

  roles:
    - network_config
    - hostname_config
    - system_update
    - install_packages
    - user_config
    - ssh_config
    - ssh_hardening
    - service_config

  post_tasks:
    - name: Display configuration summary
      debug:
        msg:
          - "========================================="
          - "{{ inventory_hostname | upper }} Configuration Complete!"
          - "========================================="
          - "Hostname: {{ hostname }}"
          - "IP: {{ network.ip_address }}/{{ network.netmask }}"
          - "VLAN: {{ network.vlan }}"
          - "Gateway: {{ network.gateway }}"
          - "DNS: {{ network.dns_servers }}"
          - "========================================="
          - "Next steps:"
          - "  ssh {{ admin_user.username }}@{{ network.ip_address }}"
          - "========================================="
