[connection]
id={{ network.interface }}
uuid={{ 99999999 | random | to_uuid }}
type=ethernet
autoconnect-priority=-999
interface-name={{ network.interface }}
timestamp={{ ansible_date_time.epoch }}

[ethernet]

[ipv4]
address1={{ network.ip_address }}/{{ network.netmask }}
dns={{ network.dns_servers | join(';') }};
gateway={{ network.gateway }}
method=manual

[ipv6]
addr-gen-mode=eui64
method=disabled

[proxy]
