---
################################################################################
# Configuration tasks
################################################################################

- name: Stop conflicting services before provisioning
  systemd:
    name: "{{ item }}"
    state: stopped
  loop:
    - smbd
    - nmbd
    - winbind
  ignore_errors: yes

- name: Check if domain is already provisioned
  stat:
    path: /var/lib/samba/private/sam.ldb
  register: sam_ldb_stat

- name: Display provisioning status
  debug:
    msg: "Domain already provisioned, skipping provision step"
  when: sam_ldb_stat.stat.exists

- name: Configure time synchronization
  block:
    - name: Enable and start chrony service
      systemd:
        name: chrony
        enabled: yes
        state: started

    - name: Configure chrony
      template:
        src: chrony.conf.j2
        dest: /etc/chrony/chrony.conf
        owner: root
        group: root
        mode: '0644'
        backup: yes
      notify: restart chrony
